<!DOCTYPE html>
<html>
<head>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>

<h2>DATK graph visualization</h2>
<p>
    Use the "forwards" and "backwards" buttons below to step either forward or backwards.
</p>
<form action="/forward" method="post">
    <input type="submit" name="forward" value="forward"></input>
</form>
<form action="/forward" method="post">
    <input type="submit" name="backward" value="backward"></input>
</form>
<div>
    <a href="https://plot.ly/~abiswas/2/" target="_blank" title="DATK Graph Visualization" style="display: block; text-align: center;"><img src="https://plot.ly/~abiswas/2.png" alt="DATK Graph Visualization" style="max-width: 100%;width: 500px;"  width="500" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="abiswas:2"  src="https://plot.ly/embed.js" async></script>
</div>

</script>

</body>
</html>