language: python
python:
  - "2.6"
  - "2.7"
# command to install dependencies
install:
  - pip install -U pip
  - pip install -r requirements.txt
# command to run tests
script: nosetests datk/tests/n_tests.py
